@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face {
    font-family: 'holiday'; /* le nom que tu choisis pour la police */
    src: url('./fonts/HolidayFree.otf') format('opentype'); /* chemin vers ton fichier */
    font-weight: normal;
    font-style: normal;
}
* {
    border: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
    margin: 0;
    outline: 0;
    padding: 0;

}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
}
.titleimg{
    align-items: flex-start;
    display: flex;
    flex-basis: auto;
    flex-flow: column;
    gap: 20px;
    height: min-content;
    max-width: 1920px;
    overflow: hidden;
    padding: 20px 20px 0px;
    position: relative;
    width: 100%;
}

.projecttitle {

    margin-bottom: 20px;
}

.imageprincipal{
    flex-flow: row;
    flex: none;
    place-content: center;
    align-items: center;
    gap: 0;
    width: 100%;
    height: 575px;
    padding: 0;
    display: flex;
    position: relative;
    overflow: hidden;
    max-width: 1161px;
    max-height: 697px;
    margin: 0 auto;
    border-radius: 40px;
}

.image1{
    aspect-ratio: auto 2048 / 1365;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
}

.titletext{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 500;

}

.subtitleProject {
    color: rgb(166, 166, 166);
    font-size: 32px;
}

.imageprincipalGrizlly {
    border-radius: 40px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;       /* Ajuste l’image sans déformation */
    object-position: center -120px;
}

.informationsProject {
    display: flex;
    justify-content: space-between;
    gap: 500px;
    margin-top: 40px;
    margin-right: 250px;
    font-family: 'Oswald', sans-serif;
    padding: 0 20px;
}

.informationsProjectLeft {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    margin-left: 150px;
}
.informationsProjectRight {
    width: 523px;
}


.projecttitleGrizzlys {
    margin-bottom: 20px;
    margin-left: 150px;
}

.infoMiniTitle {
    font-size: 25px;
}



.colorOrangeGrise{
    background-color: #d5bd8f;
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.colorBlanc{
    background-color: #f5f5f5;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 3px solid #000000;
}

.colorNoir {
    background-color: #000000;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid #ffffff;
}

.logoGrizzlys{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.imgLogoGrizzllys{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.colorsProjectGrizzlys {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.projectContentGrizzlys{
    display: flex;
    justify-content: flex-end;
    margin-right: 280px;
    margin-top: 25px;
}



.imgFleche{
    width: 135px;
    height: 75px;
    object-fit: contain;
    transform: rotateZ(229deg);
    color : #ffffff;
    filter: invert(1);
}

.TextLogo {
    font-family: 'holiday', cursive;
    letter-spacing: 4px;
    font-size: 34px;
    margin-top: 10px;
}
.light-mode .imgFleche {
    filter: invert(0);
}

.light-mode .grandeFleche{
    filter: invert(0);
}

.grandeFleche {
    filter: invert(1);
    width: 8vw; /* Image responsive */
    margin-left: 30vw;
    transform: translateY(8vw) rotate(304deg) scale(1.6);
}

.projectGalleryGrizzlys{
    display: flex;
    gap: 40px;
    margin-top: 60px;
    margin-bottom: 100px;
    justify-content: space-between;
    margin-left: 100px;
}

.appareil-wrapper {
    position: relative; /* Référence pour le carrousel */
    display: inline-block;
}

.appareilPhoto {
    width: 515px;
    height: 670px;
    object-fit: cover;
    display: block;
    object-position: bottom;
}


.textUnderPhone {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px ;
    width: 413px;
}

.tel {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}
#video1 {
    position: relative;
    width: 241px;
    height: 544px;
    left: 86px;
    border-radius: 42px;
}

#video2 {
    position: relative;
    width: 264px;
    height: 547px;
    left: 75px;
    border-radius: 42px;
    object-fit: cover;
}

.carousel {
    position: absolute;
    top: 296px;
    left: 240px;
    transform: translateX(-50%) rotateZ(359deg);
    max-width: 151px;
    overflow: hidden;
    display: flex;
    padding: 0;
}

.carousel:hover .group {
    animation-play-state: paused;
}

.card,
.imgCard {
    flex: 0 0 auto;
    width: 151px;
    height: 209px;
    border-radius: 8px;
}
.group {
    display: flex;
    gap: 0; /* On colle les images */
    animation: scrolling 6s steps(4) infinite; /* 3 images, 2s par image */
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


.iWanna{
    width: 445px;
    height: 700px;
    object-fit: cover;
    position: relative;
}

.videoInsta {
    display: flex;
    margin-left: 200px;
    position: relative; /* IMPORTANT : pour que le bouton se positionne par rapport à la vidéo */
    width: 445px;
}

.hautInsta {
    width: 445px;
    transform: translateY(3px);
    height: 42px;
    object-fit: cover;
}




.imgFlyerGrizzlys1 {
    width: 400px;
    height: auto;
    object-fit: cover;
    display: block;
    object-position: top;
    transform: rotate(-13.5deg) translateX(51px) translateY(54px);
    position: relative;
    z-index: 1;

}

.imgFlyerGrizzlys2 {
    width: 400px;
    height: auto;
    object-fit: cover;
    display: block;
    object-position: top;
    position: relative;
    z-index: 2;
}

.imgFlyerGrizzlys3 {
    width: 400px;
    height: auto;
    object-fit: cover;
    display: block;
    object-position: top;
    transform: rotate(13.5deg) translateX(-51px) translateY(54px);
    position: relative;
    z-index: 3;
}

.flyers{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 50px;
}
body.light-mode .flyers img {
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
}


.textFlyerGrizzlys {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding-bottom: 100px;
}

.titlePublication{
    font-family: 'holiday', sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
}
.imgGrid{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.creaGrid {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}


.divCreaGrid {
    position: relative;
    width: 300px;
    height: 375px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}

.divCreaGrid:hover {
    transform: scale(1.05); /* léger zoom au hover */
}

.textHover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0; /* invisible par défaut */
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.divCreaGrid:hover .textHover {
    opacity: 1; /* visible au hover */
}



.creaGrid:hover{
    opacity: 40%;
}


.divCreaGrid:hover{
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.84) 75%,rgba(0,0,0,0.75) 90% , rgba(0, 0, 0, 0.34) 100%);
    border-radius: 8px;
}

.logoEcritGrizzlys {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 50px;
}

.hidden {
    display: none;
    pointer-events: none;
}

/* Conteneur du bouton son */
.boutonSon {
    background-color: rgba(0, 0, 0, 0.5); /* gris foncé semi-transparent */
    border-radius: 50%;   /* cercle */
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    position: absolute;
    bottom : 10px;
    right : 10px;
}

.boutonSon:hover {
    background-color: rgba(0,0,0,0.7);
    transform: scale(1.1);
}

.boutonSon svg {
    color: white; /* pour que le SVG soit visible sur fond sombre */
}

.textReel{
    max-width: 302px;
    padding-top: 150px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.containerReel{
    display: flex;
    gap: 400px
}

.containerTrophy{
    display: flex;
    gap: 20px;

}
.textTrophy{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    width: 262px;
}
.trophy{
    display: flex;
}

.trophy .imgFleche {
    transform: rotate(243deg) translateX(43px) translateY(17px) scale(1.5);
}

.imgTrophy{
    width: 120px;
    height: auto;
    object-fit: cover;
    transform: rotate(347deg) translateX(26px) translateY(-23px);
}

.containerTextTrophy{
    display: flex;
    flex-direction: column;
    gap: 250px
}
