@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'holiday'; /* le nom que tu choisis pour la police */
    src: url('./fonts/HolidayFree.otf') format('opentype'); /* chemin vers ton fichier */
    font-weight: normal;
    font-style: normal;
}
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;

}
.title h1 {
    animation: fadeInUp 3s ease-out;
}

body.slide-in {
    transform: translateY(-100%);
    animation: slideDown 0.5s forwards ease-out;
}

@keyframes slideDown {
    to {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    to {
        transform: translateY(100%);
    }
}

h1 {
    text-align: center;
    margin-top: 50px;
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}




button {
    background-color: transparent;
}
html,
body {
    position: relative;
    color: #fff;
    background: #000 radial-gradient(circle at 20% 30%, #111 0%, #000 80%);
    font-family: "Inter", sans-serif;
    margin: 0;
    z-index: 0;
}

#allPage{
    position: relative;
    z-index: 2;
}

a{
    text-decoration: none;
    color: inherit;
}




.navbar {
    padding: 20px 10px;
    /*border-bottom: 2px solid #fff ;*/
    display: flex;
    justify-content: space-between;

}

.navbarElement {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
}

#clock {
    font-size: 18px;
    line-height: 1; /* Évite que le texte tire vers le bas */
}


.navbarElement > p:hover{
    cursor: pointer;
    color: #faa1d4;
    transform: scale(1.1);
}

html {
    scroll-timeline: --page-scroll block;
}

@keyframes grow-progress {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
}

#progress {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: .2em;
    background: #faa1d4;
    transform-origin: 0 50%;
    animation: grow-progress auto linear;
    animation-timeline: --page-scroll;
}

#cursorImage {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: transform 0.1s, opacity 0.1s;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.title{
    font-size: 70px;
    color: #faa1d4;
    text-align: center;
    width: 1fr;

}
.subtitle{
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    width: 1fr;
    font-size: 20px;
    animation: fadeInUp 3s ease-out;
}
p{
    font-size: 18px;
}


.containerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.separator {
    width: 80%;
    height: 1px;
    background-color: #fff;
    margin: 40px auto;
}
.titleProjet {
    font-size: 30px;
    
    text-align: center;
    margin-top: 25px;

}
.section2{
    display: flex;
    flex-wrap: wrap;
    gap: 85px;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1768px) {
    .section2 {
        width: 802px;
    }
}

.portfolio{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    font-size: 18px;
}

.portfolio:hover{
    cursor: pointer;
    color: #faa1d4;
    transform: scale(1.1);
}

.section2 > div{
    margin: 40px 0;
}


.section2 >div:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
    .img{
        transform: scale(1.1);
    }

}

body.light-mode {
    background: #fdfdfd;
    color: #000;
}

body.light-mode .navbar,
body.light-mode footer {
    border-color: #000;
}

.section2 >div:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;;


    .img{
        transform: scale(1.1);
    }

}


.footerNavbar {
    padding: 20px 10px;
    border-top: 2px solid #fff ;
    display: flex;
    justify-content: space-between;
}

.footerElement {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    
}
.navRight{
    display: flex;
    align-items: center; /* Aligne verticalement le clock et le toggle */
    gap: 10px; /* Espace horizontal entre les deux */
    font-family: "holiday", sans-serif;
}
/* From Uiverse.io by Madflows */
.toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    --light: #ffffff;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
    transform: scale(.5);
}

.checkbox {
    position: absolute;
    display: none;

}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;


}

.checkbox:checked ~ .slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* From Uiverse.io by boryanakrasteva */
.btn {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    position: relative;
    background-color: transparent;
    transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0.6;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 0 10px;
}

.btn::after {
    content: '';
    border-bottom: 3px double rgb(255, 255, 255);
    width: 0;
    height: 100%;
    position: absolute;
    margin-top: -5px;
    top: 0;
    left: 5px;
    visibility: hidden;
    opacity: 1;
    transition: .2s linear;
}

.btn .icon {
    transform: translateX(0%);
    transition: .2s linear;
    animation: attention 1.2s linear infinite;

}

.btn:hover::after {
    visibility: visible;
    opacity: 0.7;
    width: 90%;
}

.btn:hover {
    letter-spacing: 2px;
    opacity: 1;
    cursor : pointer;
}

.btn:hover > .icon {
    transform: translateX(30%);
    animation: none;
}

@keyframes attention {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(30%);
    }
}


.waveContainer svg {
    display: block;
    margin: 0;
    padding: 0;
    animation: fadeInUp 3s ease-out;
}


#projectPage{
    display: flex;
    flex-wrap: wrap;
    gap: 96px;
    justify-content: center;
    padding-top: 34px;
}

.titleProjectList{
    font-family: "holiday", sans-serif;
    font-weight: 100;
    letter-spacing: 8px;
}

.presentationContainer{
    display: flex;
    justify-content: space-around;
    animation: fadeInUp 3s ease-out;
}

.passport{
    width: 550px;
    height: auto;
    margin-right: 20px;
    transform: rotate(4deg);
    transition: transform 0.5s ease-in-out;
}

.passport:hover{
    transform: rotate(10deg) scale(1.5) translateY(-150px);
    transition: transform 0.5s ease-in-out;
}

.PagePres {
    height: 100vh;
}

.presentationText {
    max-width: 600px;
    font-size: 20px;
    line-height: 1.6;
}
.carousel-container {
    position: relative;
    width: 272px;
    /* ajuste selon ton design */
    margin: 30px auto;
    overflow: hidden;
}

.carousel-track-container {
    overflow: hidden;
    width: 297px;
    margin-left: 25px;
    margin-right: 25px;
}

.carousel-track {
    display: flex;
    width: 202px;
    transition: transform 0.4s ease;
}

.carousel-slide {
    min-width: calc(30%); /* 3 logos visibles */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slide img {
    width: 50px;
    height: auto;
    transition: transform 0.3s;
}

.carousel-slide img:hover {
    transform: scale(1.1);
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s;
}



.carousel-btn.left {
    left: 10px;

}

.carousel-btn.right {
    right: -2px;

}
#nomLogo{
    display: flex;
    justify-content: center;

}

.competencetitle{
    font-family: "holiday", sans-serif;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


