@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;

}
.title h1 {
    animation: fadeInUp 1.5s ease-out;
}

.navbar {

}


@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

button {
    background-color: transparent;
}
html,
body {
    position: relative;
    color: #fff;
    background: #000 radial-gradient(circle at 20% 30%, #111 0%, #000 80%);
    font-family: "Inter", sans-serif;
    margin: 0;
    z-index: 0;
}

#allPage{
    position: relative;
    z-index: 2;
}

a{
    text-decoration: none;
    color: inherit;
}




.navbar {
    padding: 20px 10px;
    /*border-bottom: 2px solid #fff ;*/
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: rgba(0, 0, 0, 0);

    z-index: 100;

}

.navbarElement {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
}

#clock {
    font-size: 18px;
    line-height: 1; /* Évite que le texte tire vers le bas */
}


.navbarElement > p:hover{
    cursor: pointer;
    color: #faa1d4;
    transform: scale(1.1);
}

html {
    scroll-timeline: --page-scroll block;
}

@keyframes grow-progress {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
}

#progress {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: .2em;
    background: #faa1d4;
    transform-origin: 0 50%;
    animation: grow-progress auto linear;
    animation-timeline: --page-scroll;
}

#cursorImage {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: transform 0.1s, opacity 0.1s;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.title{
    font-size: 70px;
    color: #faa1d4;
    text-align: center;
    width: 1fr;

}
.subtitle{
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    width: 1fr;
    font-size: 20px;
}
p{
    font-size: 18px;
}


.containerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.separator {
    width: 80%;
    height: 1px;
    background-color: #fff;
    margin: 40px auto;
}
.titleProjet {
    font-size: 30px;
    
    text-align: center;
    margin-top: 25px;

}
.section2{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;

}

.portfolio{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-content: center;
    font-size: 18px;
}
.section2 > div{
    margin: 40px 0;
}



.section2 >div:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
    .img{
        transform: scale(1.1);
    }

}

body.light-mode {
    background: #f1e1e1;
    color: #000;
}

body.light-mode .navbar,
body.light-mode footer {
    border-color: #000;
}

.section2 >div:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;;


    .img{
        transform: scale(1.1);
    }

}


.footerNavbar {
    padding: 20px 10px;
    border-top: 2px solid #fff ;
    display: flex;
    justify-content: space-between;
}

.footerElement {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    
}
.navRight{
    display: flex;
    align-items: center; /* Aligne verticalement le clock et le toggle */
    gap: 10px; /* Espace horizontal entre les deux */
}
/* From Uiverse.io by Madflows */
.toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
    transform: scale(.5);
}

.checkbox {
    position: absolute;
    display: none;

}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;


}

.checkbox:checked ~ .slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*.waveContainer {*/
/*    position: relative;*/
/*   width: 100%;*/
/*}*/

