@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;

}


button {
    background-color: transparent;
}
html,
body {
    background-color: #000;
    color: #fff;
    font-family: "Inter", sans-serif;
    margin: 0;
    height: 100%;
}


.section2 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.section2.visible {
    opacity: 1;
    transform: translateY(0);
}


.navbar {
    padding: 20px 10px;
    /*border-bottom: 2px solid #fff ;*/
    display: flex;
    justify-content: space-between;

}

.navbarElement {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
}

#clock {
    font-size: 18px;
}


.navbarElement > p:hover{
    cursor: pointer;
    color: #faa1d4;
    transform: scale(1.1);
}

html {
    scroll-timeline: --page-scroll block;
}

@keyframes grow-progress {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
}

#progress {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: .2em;
    background: #faa1d4;
    transform-origin: 0 50%;
    animation: grow-progress auto linear;
    animation-timeline: --page-scroll;
}

#cursorImage {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    transition: transform 0.1s, opacity 0.1s;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.title{
    font-size: 70px;
    color: #faa1d4;
    text-align: center;
    width: 1fr;

}
.subtitle{
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    width: 1fr;
}
p{
    font-size: 20px;
}
.containerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.separator {
    width: 80%;
    height: 1px;
    background-color: #fff;
    margin: 40px auto;
}
.titleProjet {
    font-size: 30px;
    
    text-align: center;
    margin-top: 25px;

}
.section2{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    border-radius: 8px;
}
.section2 > div{
 margin: 40px 0;
}



.section2 >div:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
    .img{
        transform: scale(1.1);
    }

}


.footerNavbar {
    padding: 20px 10px;
    border-top: 2px solid #fff ;
    display: flex;
    justify-content: space-between;
}

.footerElement {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    
}

/*.waveContainer {*/
/*    position: relative;*/
/*   width: 100%;*/
/*}*/

